.tab{
    border: 1px solid rgb(75, 75, 75);
    width: 300px;
    height: 300px;
    padding: 10px;
    margin-top: 10px;
}

.tabContent{

    width:  90%;
    height: 200px;
    padding: 10px;
    margin: auto;
    background: rgb(247, 192, 62);
    margin-top: 10px;
}

.darkMode{
    background: #000;
    color: #fff;
}

.DangerColor{
    color: red;
}
