<nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark" aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse show" id="navbarDark">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pipe" routerLinkActive="active">Pipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/directiva" routerLinkActive="active" >Directivas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/ejemplo" routerLinkActive="active"  >Ejemplo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/usuarios" routerLinkActive="active"  >usuarios</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
